/*============================*/
/* General
/*============================*/
html, body {
    background: #fff;
    font: 100% helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

#container {            
    margin: auto;
    width: 100%;    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header {
    /* background: #aaa; */
    border-bottom: 1px solid #eee;            
    /*margin: 0 0 20px;*/
    overflow: hidden;
    /*padding: 0 0 10px;*/
}

#company_name {
    background: #00AA00;
    width: 70%;
    padding-left: 30px;
    padding-top: 15px;
    vertical-align: middle;
}


#user_indicator {
    background: #009900;
    width: 30%;
    text-align: right;
    padding-right: 30px;
    padding-top: 17px;
}

#header_table {
    width:100%;
    height:40px;
    background:#AAAAAA;
}

#app_body {
    /* background: #aaa; */
    border-bottom: 1px solid #eee;            
    /*margin: 0 0 20px;*/
    /*overflow: hidden;*/
    /*padding: 0 0 10px;*/
}

#app_table {
    width:100%;
}

#company_menu {
    width:30%;
    background:#CCC5BB;
}
#game_window {
    width:70%;
    background:#FFF5EE;
}

#tab_content {
    width: 100%;
    background: #fff; /* цвет фона, белый */
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
}

#employees_table, #contracts_table {
    width: 100%;
    text-align: center;
}

#employees_control, #contracts_control {
    margin-top: 20px;
    margin-left: 30px;
}



#company_info_table {
	width: 100%;
}








































.rectangle {
    margin-left: 20px;
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rectangle a {
position: relative;
display: block;
padding: .4em .4em .4em .8em;
margin: .5em 0 .5em 2.5em;
background: #CCC5BB;
color: #444;
text-decoration: none;
transition: all .3s ease-out;
}
.rectangle a:hover {background: #DCDDE1;}       
.rectangle a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -2.5em;
top: 50%;
margin-top: -1em;
background: #9097A2;
height: 2em;
width: 2em;
line-height: 2em;
text-align: center;
font-weight: bold;
}
.rectangle a:after {
position: absolute;
content: "";
border: .5em solid transparent;
left: -1em;
top: 50%;
margin-top: -.5em;
transition: all .3s ease-out;
}
.rectangle a:hover:after {
left: -.5em;
border-left-color: #9097A2;
}

#contract_hired_employees_table, #contract_free_employees_table {
	vertical-align: top;
	text-align:center;
	width:100%;
	height:170px;
	margin-left:auto;
	margin-right:auto;

}

th {
	vertical-align: top;
}



#contract_employees_change_block {
	margin-left:auto;
	margin-right:auto;
	height:170px;
	width:90%;
	overflow-y:scroll;
}






























#employee_modal_window, #contract_modal_window ,#contract_team_modal_window  {
        background: rgba(102, 102, 102, 0.5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
      }
#employee_window, #contract_window, #contract_team_window {
        text-align: center;
        padding: 15px;
        border: 3px solid #0000cc;
        border-radius: 10px;
        color: #0000cc;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: #fff;
      }
 #employee_window {
 		width: 400px;
        height: 250px;
 }
 #contract_window {
 		width: 400px;
        height: 250px;
 }
 #contract_team_window {
 		width: 450px;
        height: 500px;
 }
 
 #employee_modal_window:target, #contract_modal_window:target, #contract_team_modal_window:target {display: block;}
      .close_modal_employee, .close_modal_contract,.close_modal_contract_team  {
        display: inline-block;
        border: 1px solid #0000cc;
        color: #0000cc;
        padding: 0 12px;
        margin: 10px;
        text-decoration: none;
        background: #f2f2f2;
        font-size: 14pt;
        cursor:pointer;
        vertical-align: bottom;
      }
.close_modal_employee:hover, .close_modal_contract:hover, .close_modal_contract_team:hover {background: #e6e6ff;}
      #employee_window_content, #contract_window_content, #contract_team_window_content {

      }